.maRow{
	position:absolute;    
    bottom: 0px;
    z-index:900;
	background-color: #34495e;
	border: 1px solid black;
	height: 40px;
	overflow: hidden;
}

#filActubox{
	background-color: rgb(233,229,220);
	border: 0px solid black;
	height: 60px;
	overflow: hidden;
}

#filActu{
	font-size:0.8em;
	background-color: #ecf0f1;
	box-shadow: -1px 2px 3px 3px #34495e inset;
	box-shadow: -1px 2px 0px 5px #34495e inset;
	padding: 5px;
	padding-left: 15px;
	padding-top: 10px;
	cursor:default;
	cursor: hand;
	cursor: pointer;
	border-radius: 5px;
}