.nav-items{
    margin-right: 15px;
    color: white;
}

.nav-item:hover , .nav-item > a:hover, .nav-item > a:focus{
    /*content: color: white;*/
}

.navbar-brand {
	padding: 0;
    margin-left: 15px;
}

.valider{
    background-color: #09B969;
    border-color: #CCCCCC;
    color: #666666;
}

.valider:hover{
    background-color: #09AF34;    
}

.annuler{    
    background-color: white;
    border-color: #CCCCCC;
    color: #9F99A1;
}

.annuler:hover{
    background-color: #d9534f;
    border-color: #d43f3a;
}

.optionCarteItem {
    color: white;
}

.optionCarteItem > i {
    text-shadow:-1px 0 rgba(0, 0, 0, 0.3), 0 1px rgba(0, 0, 0, 0.3), 1px 0 rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.optionCarteItem > i:hover{
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px 1px black;
}

#nav {
    background-color: #595757;
    border-radius: 0;
    margin-bottom: 0;
}

#container{
    position: relative;
}

#signinButton.active, #signinButton:hover{
    background-color:#00A286;
}

#connectButton.active, #connectButton:hover{
    background-color: #EF6530;
}

#incscriptionPanel{
    position:absolute;
    top:52px;
    right: 15px;
    width:25%;
    z-index:1000;
}

#optionUtilisateur{
    position:absolute;
    top: 60px;
    right: 22px;
    z-index:900;
}

#optionsCarte{
    position: absolute;
    top:100px;
    right: 0;
    z-index:900;
}

#onFireButton.active{
    color:#FC3A37;
}

#freshButton.active{
    color:#5DC9F1;
}

#allButton.active{
    color:#EEE544;
}

/*TODO: à voir*/
#filters {
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    z-index: 1000;
}

#filter {
	padding: 5%;
	margin: 5%;
    border-bottom: 1px solid #eee;
}

#brandImg {
	height: 100%;
	width: auto;
}

#map-container{
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

#map-container #map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
#commentzone
{
    list-style-type: none; /* on annule la puce par défaut */
    background-position: left; /* on positionne où l'on veut */
    padding-left: 20px; /* pour éviter la superposition du contenu */
}