
.icon-waves:before { content: '\e800'; } /* '' */
.icon-fire:before { content: '\e801'; } /* '' */
.icon-snow:before { content: '\e802'; } /* '' */
.icon-giraffe:before { content: '\e803'; } /* '' */
.icon-spread:before { content: '\e804'; } /* '' */